.pictures {
  padding-top: 0px;
  padding-bottom: 94px;
}
.list-pictures-work {
  display: flex;
}

.list-pictures-work-item {
  display: flex;
  position: relative;
  margin-right: 30px;
  margin-top: 92px;
}

.additional-description {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);

  width: 205px;
  height: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  bottom: 0;
  padding-top: 27px;
}
