.footer-form-btn {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196f3;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: none;
}
