.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  .contacts & {
    display: flex;
    width: 1200px;
    align-items: baseline;
  }
  .details & {
    display: flex;
  }
  .top-heder & {
    display: flex;
    align-items: center;
  }
  .hero & {
    display: flex;
    align-items: center;
  }
}
